<?xml version="1.0" encoding="utf-8"?>
<config>
    <fields>
        <fieldset name="component" >
            <field name="limit" type="list" default="50" label="COM_ZIC_MAX_FILE_LIST" >
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
            </field>
        </fieldset>
        <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
            <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" section="component" component="com_loan_customer" validate="rules"/>
        </fieldset>
    </fields>
</config>